<ion-view title="Temperaturwächter">
    <ion-content>
        <div class="card list">
            <!--Sensoren-->
            <div class="item item-divider divider-background-red">
                <i class="icon ion-thermometer"></i> Sensoren
            </div>
            <div class="item" ng-repeat="sensor in sensors">
                <div class="row">
                    <div class="col" ng-repeat="val in sensor_values | filter:{sensorId: sensor.id}:true">{{val.value}} &deg;C
                        <div ng-switch on="sensor.tendency">
                            <div ng-switch-when="0">
                                <i class="ion-arrow-right-c"></i>
                            </div>
                            <div ng-switch-when="1">
                                <i class="icon ion-arrow-up-c"></i>
                            </div>
                            <div ng-switch-when="2">
                                <i class="icon ion-arrow-down-c"></i>
                            </div>
                            <div ng-switch-default>
                            </div>
                        </div>
                    </div>
                    <div class="col">{{sensor.name}}</div>
                </div>
            </div>

            <!--Sensoren-->
            <div class="item item-divider divider-background-red">
                <i class="icon ion-flame"></i> Servos
            </div>
            <div class="item">
                <div class="row">
                    <div class="col" ng-repeat="servo in servos" href="#/app/servos/{{servo.id}}">
                        <table>
                            <tr>
                                <td ng-repeat="val in servo_values | filter:{servoId: servo.id}:true">{{val.value}} %</td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>{{servo.name}}</h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>