<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Menü</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <a menu-close class="item item-icon-left" href="#/app/home">
                    <i class="icon ion-home"></i> Übersicht
                </a>
                <a menu-close class="item item-icon-left" href="#/app/sensors">
                    <i class="icon ion-thermometer"></i> Sensoren
                </a>
                <a menu-close class="item item-icon-left" href="#/app/servos">
                    <i class="icon ion-fireball"></i> Servos
                </a>
                <a menu-close class="item item-icon-left" href="#/app/timer">
                    <i class="icon ion-clock"></i> Timer
                </a>

                <div class="item item-divider">System</div>

                <a menu-close class="item item-icon-left" href="#/app/settings">
                    <i class="icon ion-gear-a"></i> Einstellungen
                </a>

                <a menu-close class="item item-icon-left" href="#/app/about">
                    <i class="icon ion-information"></i> Über
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>