<ion-view view-title="Sensoren">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-repeat="sensor in sensors" href="#/app/sensors/{{sensor.id}}">
                <i class="icon ion-thermometer"></i>
                <div class="row">
                    <div class="col">
                        {{sensor.name}}
                    </div>
                    <div class="col">
                        <div ng-repeat="val in sensor_values | filter:{sensorId: sensor.id}:true">{{val.value}} &deg;C</div>
                        <div ng-switch on="sensor.tendency">
                            <div ng-switch-when="0">
                                <i class="ion-arrow-right-c"></i>
                            </div>
                            <div ng-switch-when="1">
                                <i class="ion-arrow-up-c"></i>
                            </div>
                            <div ng-switch-when="2">
                                <i class="ion-arrow-down-c"></i>
                            </div>
                            <div ng-switch-default>

                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="item item-icon-left balanced" ng-click="add()">
                <i class="icon ion-plus-round"></i>
                <p>Hinzufügen</p>
            </a>
        </div>
    </ion-content>
</ion-view>