<ion-view view-title="Sensor">
    <ion-content>
        <div class="list">
            <div class="item item-divider item-icon-left item-button-right">
                <i class="icon ion-thermometer"></i> Sensor
                <button class="button button-stable" ng-click="remove()">
                    <i class="icon ion-ios-trash-outline"></i>
                </button>
            </div>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Sensorname" ng-model="sensor.name"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Pin</span>
                <input type="number" placeholder="Pin" ng-model="sensor.pin"/>
            </label>
            <li class="item item-toggle">
                Aktiv (Angeschlossen)
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="sensor.active"/>
                    <div class="track">
                    <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Aktiv (Regelung)
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="sensor.activeForRegulation"/>
                    <div class="track">
                    <div class="handle"></div>
                    </div>
                </label>
            </li>
            <label class="item item-input">
                <span class="input-label">Pull-Down</span>
                <input type="number" placeholder="Pull-Down" ng-model="sensor.pullDownResistance"/>
            </label>
            <label class="item item-input">
                <span class="input-label">B25/100 Konstante</span>
                <input type="number" placeholder="B25/100" ng-model="sensor.b25100Constant"/>
            </label>
            <label class="item item-input">
                <span class="input-label">R25</span>
                <input type="number" placeholder="R25" ng-model="sensor.r25Resistance"/>
            </label>

            <button class="item button button-positive button-full" ng-click="save()">Speichern</button>

            <!--Diagramm-->
            <div class="item item-divider">
                <i class="icon ion-stats-bars"></i> Verlauf
            </div>
            <div class="item">
                <canvas class="chart chart-line" chart-data="chart_data" chart-labels="chart_labels"></canvas>
            </div>
        </div>
    </ion-content>
</ion-view>