<ion-view view-title="Servo">
    <ion-content>
        <div class="list">
            <div class="item item-divider item-icon-left item-button-right">
                <i class="icon ion-thermometer"></i> Servo
                <button class="button button-stable" ng-click="remove()">
                    <i class="icon ion-ios-trash-outline"></i>
                </button>
            </div>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Servoname" ng-model="servo.name"/>
            </label>
            <label class="item item-toggle">
                Aktiv
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="servo.active"/>
                    <div class="track"></div>
                    <div class="handle"></div>                    
                </label>
            </label>
            <label class="item item-input">
                <span class="input-label">Pin</span>
                <input type="number" placeholder="Pin" ng-model="servo.pin"/>
            </label>
            <label class="item item-input range range-positive">
                <span class="input-label">Wert</span>
                <!--<i class="icon ion-ios-speedometer"></i>-->
                <input type="range" name="targetValue" min="{{servo.lowerLimit}}" max="{{servo.upperLimit}}" ng-model="servo.targetValue"/>                
                <span>{{servo.targetValue}} %</span>
            </label>
            <label class="item item-input range range-positive">
                <span class="input-label">Min</span>
                <!--<i class="icon ion-ios-speedometer-outline"></i>-->
                <input type="range" name="lowerLimit" ng-model="servo.lowerLimit"/>
                <span>{{servo.lowerLimit}} %</span>
            </label>
            <label class="item item-input range range-positive">
                <span class="input-label">Max</span>
                <!--<i class="icon ion-ios-speedometer"></i>-->
                <input type="range" name="upperLimit" ng-model="servo.upperLimit"/>                
                <span>{{servo.upperLimit}} %</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Min. Pulsweite (us)</span>
                <input type="number" name="minimumUs" ng-model="servo.minimumUs"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Max. Pulsweite (us)</span>
                <input type="number" name="maximumUs" ng-model="servo.maximumUs"/>
            </label>

            <button class="item button button-positive button-full" ng-click="save()">Speichern</button>

            <!--Diagramm-->
            <div class="item item-divider">
                <i class="icon ion-stats-bars"></i> Verlauf
            </div>
            <div class="item">
                <canvas class="chart chart-line" chart-data="chart_data" chart-labels="chart_labels" chart-legend="true" chart-series="chart_series" chart-options="{showTooltips: false}"></canvas>
            </div>
        </div>
    </ion-content>
</ion-view>