﻿<ion-view view-title="Servos">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-repeat="servo in servos" href="#/app/servos/{{servo.id}}">
                <i class="icon ion-speedometer"></i>
                <div class="row">
                    <div class="col">
                        {{servo.name}}
                    </div>
                    <div class="col">
                        <div ng-repeat="val in servo_values | filter:{servoId: servo.id}:true">{{val.value}} %</div>
                    </div>
                </div>
            </a>
            <a class="item item-icon-left balanced" ng-click="add()">
                <i class="icon ion-plus-round"></i>
                <p>Hinzufügen</p>
            </a>
        </div>
    </ion-content>
</ion-view>