<ion-view view-title="Einstellungen">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Addresse Raspberry Pi</span>
                <input type="text" placeholder="192.168.2.254" ng-model="default.raspberryIp"/>
            </label>
            <div class="item item-divider">
                Aktualisierungsraten
            </div>
            <div class="item item-input range item-stacked-label">
                <span class="input-label">Daten</span>
                <input type="range" name="refreshRate" min="5" max="60" ng-model="default.refreshRate"/>
                <span>{{default.refreshRate}}s</span>
            </div>
            <div class="item range item-input item-stacked-label">
                <span class="input-label">Sensoren</span>
                <input type="range" name="refreshRate" min="5" max="60" ng-model="pi.sensors"/>
                <span>{{pi.sensors}}s</span>
            </div>
            <div class="item range item-input item-stacked-label">
                <span class="input-label">Servos</span>
                <input type="range" name="refreshRate" min="5" max="60" ng-model="pi.servos"/>
                <span>{{pi.servos}}s</span>
            </div>
            <div class="item item-divider">
                Stellgrößen
            </div>
            <div class="item range item-input item-stacked-label">
                <span class="input-label">Temperatur</span>
                <input type="range" name="refreshRate" min="60" max="250" step="1" ng-model="pi.temperature"/>
                <span>{{pi.temperature}}&degC</span>
            </div>
            <div class="item range item-input item-stacked-label">
                <span class="input-label">Servo</span>
                <input type="range" name="refreshRate" min="0.1" max="5" step="0.1" ng-model="pi.servoIncrement"/>
                <span>{{pi.servoIncrement}}%</span>
            </div>
        </div>
        <button class="button button-positive button-full" ng-click="save()">Speichern</button>
    </ion-content>
</ion-view>