<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Übersicht" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sensoren" icon-off="ion-thermometer" icon-on="ion-thermometer" href="#/app/sensors">
        <ion-nav-view name="sensors"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Servos" icon-off="ion-ios-flame-outline" icon-on="ion-ios-flame" href="#/app/servos">
        <ion-nav-view name="servos"></ion-nav-view>
    </ion-tab>

    <!--<ion-tab title="Timer" icon-off="ion-ios-stopwatch-outline" icon-on="ion-ios-stopwatch" href="#/app/timer">
        <ion-nav-view name="timer"></ion-nav-view>
    </ion-tab>-->

    <ion-tab title="Einstellungen" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/settings">
        <ion-nav-view name="settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>