/* Empty. Add your own CSS if you like */

.vertical-centered {
    vertical-align: middle;
}

.padding-5px {
    padding: 5px;
}

.float-left {
    float: left;
}

.divider-background-black {
	color: #FFFFFF;
	
    background: -moz-linear-gradient(90deg, rgba(13,0,0,1) 0%, rgba(91,92,102,1) 51%, rgba(3,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(3,0,0,1)), color-stop(49%, rgba(91,92,102,1)), color-stop(100%, rgba(13,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(13,0,0,1) 0%, rgba(91,92,102,1) 51%, rgba(3,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(13,0,0,1) 0%, rgba(91,92,102,1) 51%, rgba(3,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(13,0,0,1) 0%, rgba(91,92,102,1) 51%, rgba(3,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(13,0,0,1) 0%, rgba(91,92,102,1) 51%, rgba(3,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030000', endColorstr='#0D0000',GradientType=0 ); /* ie6-9 */

}

.item-divider, .divider-background-red {
	color: #FFFFFF;
    background: -moz-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,0,0,1)), color-stop(50%, rgba(128,0,0,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#FF0000',GradientType=0 ); /* ie6-9 */
}

.divider-background-green {
	color: #000000;
    background: -moz-linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,128,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,0,1)), color-stop(50%, rgba(255,255,0,1)), color-stop(100%, rgba(0,128,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,128,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,128,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,128,0,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(0,128,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,128,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#008000',GradientType=0 ); /* ie6-9 */
}

.divider-background-blue {
	color: #000000;
	background-image: -ms-linear-gradient(bottom, #000000 0%, #23538a 100%);
	background-image: -moz-linear-gradient(bottom, #000000 0%, #23538a 100%);
	background-image: -o-linear-gradient(bottom, #000000 0%, #23538a 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(100, #23538a));
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #23538a 100%);
	background-image: linear-gradient(to top, #000000 0%, #23538a 100%);
}

.box-shadow {
	box-shadow:2px 2px 5px #800000;
}